<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.testcontainers.jdbc.ContainerDatabaseDriver</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <property name="connection.url">jdbc:tc:postgresql:15:///?TC_INITSCRIPT=db/init.sql</property>
        <property name="connection.username">routinechecklist</property>
        <property name="connection.password">testPassword</property>
        <property name="show_sql">true</property>

        <mapping class="org.tashtabash.routinechecklist.entity.Task"/>
    </session-factory>
</hibernate-configuration>